<c-layouts.base title="login">
	<div class="h-screen grid place-content-center bg-base-200">
		<div>
			<h1 class="text-3xl font-bold text-primary text-center mb-8">FD</h1>
            <c-card class="sm:min-w-md">
                <c-card.header>
                    <c-card.title>Login</c-card.title>
                </c-card.header>
                <c-card.content>
                    <form method="post" class="grid gap-4">
                        {% csrf_token %}
                        <c-form.field>
                            <c-form.label>Email</c-form.label>
                            <c-input type="email" name="email" value="{{ email }}" required></c-input>
                            {% if email_error %}
                            <p class="label text-error">{{ email_error }}</p>
                            {% endif %}
                        </c-form.field>
                        <c-form.field>
                            <c-form.label>Password</c-form.label>
                            <c-input type="password" name="password" value="{{ password }}" required></c-input>
                            {% if password_error %}
                            <p class="label text-error">{{ email_error }}</p>
                            {% endif %}
                        </c-form.field>
                        <div>
                            <a href="{% url 'accounts:reset_password' %}" class="opacity-60">Forgot Password?</a>
                            <c-button type="submit" class="w-full">Login</c-button>
                        </div>
                    </form>
                </c-card.content>
            </c-card>
		</div>
	</div>
</c-layouts.base>
