<c-layouts.base title="Password reset">
	<main class="h-screen grid place-content-center bg-base-200">
		<div class="max-w-lg mx-auto h-screen grid content-center">
			<h1 class="text-3xl font-semibold mb-4">Enter your new password</h1>
			<p>{{ title }}</p>

			<form method="post" class="grid gap=4">
				{% csrf_token %}
				<c-form.field>
					<c-form.label for="id_new_password1">{{ form.new_password1.label }}</c-form.label>
					<c-input
						id="id_new_password1"
						type="password"
						name="new_password1"
						value="{{ form.new_password1.value|default:'' }}"
						class="{% if form.new_password1.errors %}border-destructive{% endif %}"
					></c-input>
					{% if form.new_password1.help_text %}
					<c-form.description>{{ form.new_password1.help_text|safe }}</c-form.description>
					{% endif %}
					{% if form.new_password1.errors %}
					<c-form.error>{{ form.new_password1.errors.0 }}</c-form.error>
					{% endif %}
				</c-form.field>
				<c-form.field>
					<c-form.label for="id_new_password2">{{ form.new_password2.label }}</c-form.label>
					<c-input
						id="id_new_password2"
						type="password"
						name="new_password2"
						value="{{ form.new_password2.value|default:'' }}"
						class="{% if form.new_password2.errors %}border-destructive{% endif %}"
					></c-input>
					{% if form.new_password2.help_text %}
					<c-form.description>{{ form.new_password2.help_text|safe }}</c-form.description>
					{% endif %}
					{% if form.new_password2.errors %}
					<c-form.error>{{ form.new_password2.errors.0 }}</c-form.error>
					{% endif %}
				</c-form.field>
				<c-button type="submit" class="w-full">Confirm new password</c-button>
			</form>
		</div>
	</main>
</c-layouts.base>
