{% load widget_tweaks %}

<c-base title="Password reset">

<main class="h-screen grid place-content-center bg-base-200">
    <div class="max-w-lg mx-auto h-screen grid content-center">
        <h1 class="text-3xl font-semibold mb-4">Enter your new password</h1>
        <p>{{ title }}</p>
    
        <form method="post">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend class="fieldset-legend">{{ form.new_password1.label }}</legend>
                {{ form.new_password1|attr:"class=input" }}
                {% if form.new_password1.help_text %}
                <p class="label">{{ form.new_password1.help_text }}</p>
                {% endif %}
                {% if form.new_password1.errors %}
                <p class="label text-error">{{ form.new_password1.errors }}</p>
                {% endif %}
            </fieldset>
            <fieldset class="fieldset">
                <legend class="fieldset-legend">{{ form.new_password2.label }}</legend>
                {{ form.new_password2|attr:"class=input" }}
                {% if form.new_password2.help_text %}
                <p class="label">{{ form.new_password2.help_text }}</p>
                {% endif %}
                {% if form.new_password2.errors %}
                <p class="label text-error">{{ form.new_password2.errors }}</p>
                {% endif %}
            </fieldset>
            <button type='submit' class="w-full btn btn-primary">Confirm new password</button>
        </form>
    </div>
</main>

</c-base>
