{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBF Password Reset</title>
    <link rel="shortcut icon" href="{% static 'images/logo.webp' %}" type="image/x-icon">
</head>
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
        *{
            padding: 0;
            margin: 0;
            font-family: Plus Jakarta Sans, 'sans-serif';
        }
        body{
            background-color:#FFFFFF;
        }
    </style>
    <div style="padding:2rem 1rem;background-color:#FFFFFF;color:#0a0b0d;text-align: center;">
        <header style="background-color: white;border-bottom: .3rem solid #0E7490;display: grid;justify-content: center;text-align:center;padding: 1rem;color: #0E7490;font-weight: 900;">
            <span>DotScholar</span>
        </header>
        <div style="padding: 1rem;background-color: white;text-align: center;">
            <h2 style="font-weight: 800;">Hey {{ user.get_full_name }}</h2>
            <p style="margin-top: 1rem;">
                Your administrator has requested a password reset for your account.
                <br>
                Click the button below to reset your password or ignore if you do not need to reset your password.
                <br>
                {% if user.username %}
                <p style="font-weight: 700;">Your username is: {{ user.username }}</p>
                {% endif %}
            </p>
            <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uid token %}"
            style="display:block;background-color: #0E7490;text-decoration: none;color: white;padding: .5rem 1.5rem;width: fit-content;border-radius: 5rem;margin-left: auto;margin-right: auto;margin-top: 1.5rem;margin-bottom: 1.5rem;">
                Reset Password
            </a>
            <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uid token %}" style="display:block;color: #0a0b0d;opacity: 0.6;font-weight: 200;font-size: 0.75rem;">
                {{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uid token %}
             </a>
        </div>
        <div style="padding: 1rem;text-align: center;">
            <p style="text-align: center;font-size: .8rem;color: #0a0b0d;opacity: 0.6;">
                If you don't need this, please ignore this email.
                <br>
                This email is intended to: <a style="color: #0E7490;" href="{{ user.email }}">{{ user.email }}</a>
                <br>
                Sent from <a href="{{ domain }}" style="color: #0E7490;font-weight: 500;">{{ domain }}</a>
                <br><br>
                <a href="dakdot.com" style="color: #0a0b0d;text-decoration:none;">&copy; DakDot Creations 2024</a>
            </p>
        </div>
        
     </div>
</body>
</html>
