{% load widget_tweaks %}

<c-layouts.base title="Password reset">
	<main class="h-screen grid place-content-center bg-base-200">
		<div class="max-w-lg px-4 mx-auto">
			<h1 class="text-3xl font-semibold">Reset your password</h1>

			<form method="post" class="mt-5">
				{% csrf_token %}
				<c-form.field>
					<c-form.label for="id_email">{{ form.email.label }}</c-form.label>
					<c-input
						id="id_email"
						type="email"
						name="email"
						value="{{ form.email.value|default:'' }}"
						placeholder="{{ form.email.field.widget.attrs.placeholder|default:'' }}"
						class="{% if form.email.errors %}border-destructive{% endif %}"
					></c-input>
					{% if form.email.help_text %}
					<c-form.description>{{ form.email.help_text|safe }}</c-form.description>
					{% endif %}
					{% if form.email.errors %}
					<c-form.error>{{ form.email.errors.0 }}</c-form.error>
					{% endif %}
				</c-form.field>
				<c-button type="submit" class="w-full mt-4">Reset password</c-button>
			</form>
			<div class="py-5 border-t border-gray-200 mt-5">
				<a class="hover:text-primary" href="{% url 'accounts:login' %}"
					>Already have an account?</a
				>
			</div>
		</div>
	</main>
</c-layouts.base>
