{% load widget_tweaks %}

<c-base title="Password reset">

<main class="h-screen grid place-content-center bg-base-200">
    <div class="max-w-lg px-4 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800">Reset your password</h1>
    
        <form method="post" class="mt-5">
            {% csrf_token %}
            <fieldset class="fieldset">
                <legend class="fieldset-legend">{{ form.email.label }}</legend>
                {{ form.email|attr:"class=input" }}
                {% if form.email.help_text %}
                <p class="label">{{ form.email.help_text }}</p>
                {% endif %}
                {% if form.email.errors %}
                <p class="label text-error">{{ form.email.errors }}</p>
                {% endif %}
            </fieldset>
            <button type='submit' class="w-full btn btn-primary mt-2">
                Reset password
            </button>
        </form>
        <div class="py-5 border-t border-gray-200 mt-5">
            <a class="hover:text-primary" href="{% url 'accounts:login' %}">Already have an account?</a>
        </div>
    </div>
</main>

</c-base>