{% extends '_base.html' %} {% load tailwind_filters %}

{% block slot %}

<main class="bg-grey-200">
    <div class="max-w-lg mx-auto h-screen grid content-center">
        <h1 class="text-3xl font-semibold mb-4 text-grey-800">Change your password</h1>
    
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <fieldset class="fieldset">
                <legend class="fieldset-legend">Model</legend>
                {{ form.model|add_class:"input" }}
                <p class="fieldset-label">{{ form.model.help_text }}</p>
                <ul class="errors grid">
                    {% for error in form.model.errors %}
                    <li class="text-error">{{ error }}</li>
                    {% endfor %}
                </ul>
            </fieldset>
            <button type='submit' class="w-full btn btn-primary">Change password</button>
        </form>
    </div>
</main>

{% endblock slot %}