<c-navigation-menu>
    <c-navigation-menu.list>
        <c-navigation-menu.item>
            <c-navigation-menu.link href='{% url 'frontend:flights' %}'>Flights</c-navigation-menu.link>
        </c-navigation-menu.item>
        <c-navigation-menu.item>
            <c-navigation-menu.link href='{% url 'frontend:planning' %}'>Planning</c-navigation-menu.link>
        </c-navigation-menu.item>
        <c-navigation-menu.item>
            <c-navigation-menu.link href='{% url 'frontend:aircrafts' %}'>Aircrafts</c-navigation-menu.link>
        </c-navigation-menu.item>
        <c-navigation-menu.item>
            <c-navigation-menu.link href='{% url 'frontend:users' %}'>Users</c-navigation-menu.link>
        </c-navigation-menu.item>
    </c-navigation-menu.list>
</c-navigation-menu>