<div id="table">
	<div class="actions flex gap-2 justify-end mb-2">
        <form action="" method="get" x-data>
            {% comment %} {% csrf_token %} {% endcomment %}
            <c-input type="date" name="date" value="{{ date|date:'Y-m-d' }}" required @change="$el.parentElement.submit()" />
        </form>
		{% partial form %}
	</div>
    <div class="border rounded-lg">
        <c-table>
            <c-table.header>
                <c-table.row>
                    <c-table.head class="w-[2rem]"></c-table.head>
                    <c-table.head class="w-[6rem]">No.</c-table.head>
                    <c-table.head>Aircraft Reg</c-table.head>
                    <c-table.head>Status</c-table.head>
                    <c-table.head></c-table.head>
                </c-table.row>
            </c-table.header>
            <c-table.body id="flights">
                {% for flight in flights %}{% partial flight_row %}{% endfor %}
            </c-table.body>
        </c-table>
    </div>
</div>

{% partialdef flight_row %}
<c-table.row>
	<c-table.cell class="w-[2rem]"><c-checkbox name="selected_flights" value="{{ flight.id }}" /></c-table.cell>
	<c-table.cell class="w-[6rem]">{{ flight.flight_number }}</c-table.cell>
	<c-table.cell title="{{ flight.aircraft.name }}">{{ flight.aircraft.reg }}</c-table.cell>
    {% with s=flight.supervisor_status %}
	<c-table.cell>
        {% if s == 'Open' %}
            <c-badge class="uppercase">{{ s }}</c-badge>
        {% else %}
            <c-badge variant="secondary" class="uppercase">{{ s }}</c-badge>
        {% endif %}
    </c-table.cell>
	<c-table.cell class="flex justify-end">
        {% with edit=True %}
        {% partial form %}
        {% endwith %}
    </c-table.cell>
    {% endwith %}
</c-table.row>
{% endpartialdef flight_row %}


{% partialdef form %}
<c-dialog>
    <c-dialog.trigger>
        {% if edit %}
        Edit
        {% else %}
        Add a flight
        {% endif %}
    </c-dialog.trigger>
    <c-dialog.content>
        <c-dialog.header>
            <c-dialog.title>Edit flight</c-dialog.title>
        </c-dialog.header>
        <form action="" method="post">
            {% csrf_token %}
            {% if edit %}
            <input type="hidden" name="action" value="edit-flight" />
            {% else %}
            <input type="hidden" name="action" value="add-flight" />
            {% endif %}
            <input type="hidden" name="date" value="{{ flight.date|date:'Y-m-d' }}" />
            <div class="grid gap-4 py-4">
                <c-input type="text" name="flight_number" label="Flight Number" required placeholder="Enter flight number" value="{{ flight.flight_number }}" />
                <div id="combobox" class="flex gap-2">
                    <c-combobox
                        :options='{{ aircraft_options|safe }}'
                        selected_value={{ flight.aircraft.pk }}
                        placeholder='Search aircraft...'
                        button_text='Select aircraft...'
                        class='flex-1'
                        width='w-full'
                        name='aircraft_id'
                        required
                    />
                </div>
            </div>
            <div class="flex justify-end gap-2 pt-4">
                <c-button variant="outline" @click="hideDialog">Cancel</c-button>
                <c-button type="submit">Submit</c-button>
            </div>
        </form>
    </c-dialog.content>
</c-dialog>
{% endpartialdef form %}
